.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    padding: 20px;
    border: #555555 solid;
    border-radius: 5px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.big-h-button{
    grid-column: span 2;
}

.big-v-button, .equal{
    grid-row: span 2;
}

.display {
    grid-column: span 4;
    font-size: 24px;
    padding: 20px;
    background-color: #f4f4f9;
    text-align: right;
}

.clear{
    background-color: #ff0000;
    color: #ffffff;
}

.equal{
    background-color: #4CAF50;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}